<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Saftige Spitznamen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Thasadith" rel="stylesheet">
</head>
<body>
<div id="content">
    <form method="post" action="/words">
        <textarea name="words" cols="80" rows="20"></textarea>
        <input type="submit"/>
    </form>
</div>
</body>
</html>